
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left; /* Center align menu horizontally */
}

nav ul li {
    margin-right: 20%;
}

nav ul li:last-child {
    margin-right: 5px;
}
