header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start; /* Align menu to the left */
    margin: 10px; /* Remove default margin */
    padding: 10px; /* Remove default padding */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 10px; /* Remove margin for the last item */
}
